<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>進数変換トレーニング</title>
</head>

<body>
    <h1>進数変換トレーニング</h1>
    <p>TOP画面</p>

    <form th:action="@{/quiz}" method="get">
        <fieldset class="conversionTypeArea">
            <legend>
                問題形式(複数選択可能)
            </legend>

            <div class="conversionTypeChoiceCheckBoxArea">
                <input type="checkbox" name="conversionTypes" id="decimalToBinary" value="DECIMAL_TO_BINARY">
                <label for="decimalToBinary">
                    10進数→2進数
                </label>

                <input type="checkbox" name="conversionTypes" id="binaryToDecimal" value="BINARY_TO_DECIMAL">
                <label for="binaryToDecimal">   
                    2進数→10進数
                </label> 

                <input type="checkbox" name="conversionTypes" id="decimalToHex" value="DECIMAL_TO_HEX">
                <label for="decimalToHex">
                    10進数→16進数
                </label>
                
                <input type="checkbox" name="conversionTypes" id="hexToDecimal" value="HEX_TO_DECIMAL">
                <label for="hexToDecimal">
                    16進数→10進数
                </label>

                <input type="checkbox" name="conversionTypes" id="binaryToHex" value="BINARY_TO_HEX">
                <label for="binaryToHex">    
                    2進数→16進数
                </label>

                <input type="checkbox" name="conversionTypes" id="hexToBinary" value="HEX_TO_BINARY">
                <label for="hexToBinary">
                    16進数→2進数
                </label>
            </div>
        </fieldset>

        <div class="quizCount">
            <label for="quizCount">
                問題数
            </label>

            <select name="quizCount" id="quizCount">
                <option value="10">10問</option>
                <option value="20">20問</option>
                <option value="30">30問</option>
            </select>
        </div>

        <button type="submit">
            れっつごー！！！
        </button>
    </form>
</body>

</html>